<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Your Profile & Accounts
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ng-container *ngIf="userO">
        <ion-card>
            <ion-card-content>
                <div (click)="editProfile()" class="profile">
                    <img [src]="userO.photoUrl" class="imgAvatar">
                    <ion-input type="text" hidden #photoUrl [value]="userO.photoUrl" readonly></ion-input>
                </div>
                <ion-list lines="none">
                    <ion-item>
                        <ion-input type="text" placeholder="First Name" #name [value]="userO.name" [readonly]="!editMode"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="text" placeholder="Last Name" #surname [value]="userO.surname" [readonly]="!editMode"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>E-Mail</ion-label>
                        <ion-input type="email" placeholder="Email" #email [value]="userO.email" [readonly]="!editMode"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>My PSP</ion-label>
                        <ion-input type="text" placeholder="PSP Name" #pspId [value]="userO.pspId" readonly></ion-input>
                        <!-- <ion-select slot="end" #pspid placeholder="Select PSP" expand='full' [hidden]="!editMode" >
                            <ion-select-option *ngFor="let psp of processors | async" [value]="psp.id" [selected]="userO.pspId">{{psp.id}}</ion-select-option>
                        </ion-select> -->
                    </ion-item>
                    <ion-item>
                        <ion-label>ZAP Id:</ion-label>
                        <ion-input type="text" placeholder="name" #zapid [value]="userO.zapId" [readonly]="!editMode"></ion-input>
                        <!-- {{payerPspLable}} -->
                    </ion-item>
                    <ion-item>
                        <ion-label>Nickname</ion-label>
                        <ion-input type="text" placeholder="Nickname?" #nick [value]="userO.nickname" [readonly]="!editMode"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Mobile No</ion-label>
                        <ion-input type="text" placeholder="Mobile No (27xxxxxxxxx)" #mobileNo [value]="userO.mobileNo"
                            [readonly]="!editMode"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Telegram ID</ion-label>
                        <ion-input type="text" placeholder="Telegram ID" #telegramId [value]="userO.telegramId"
                            readonly></ion-input>
                    </ion-item>
                </ion-list>
                <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="!editMode">
                    <ion-fab-button (click)="editProfile()">
                        <ion-icon name="create"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="editMode">
                    <ion-fab-button color="danger" (click)="saveProfile(name.value, surname.value, email.value, pspid.value, zapid.value, nick.value, mobileNo.value, telegramId.value, photoUrl.value)">
                        <ion-icon name="save"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-list lines="none">
                    <ion-item-divider>
                        <ion-label>Accounts <span class="tiny">( checked = default )</span></ion-label>
                    </ion-item-divider>
                    <ion-item-sliding *ngFor="let acc of accounts | async">
                        <ion-item>
                            <ion-label>{{acc.accountAlias}}</ion-label>
                            {{acc.accountNo}} &nbsp;
                            <ion-toggle slot="end" [checked]="acc.default"></ion-toggle>
                        </ion-item>
                        <ion-item-options side="start">
                            <ion-item-option color="danger" (click)="deleteAccount(acc)">Delete</ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                    <!-- <ion-item *ngFor="let acc of user.accounts ">
                        <ion-label>{{acc.accountAlias}}</ion-label>
                        {{acc.accountNo}}
                        <ion-button class="accDelete" slot="end" color="danger" holdable (holdTime)="deleteAccount(acc)">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-button>
                    </ion-item> -->
                </ion-list>
                <ion-fab vertical="top" horizontal="end" slot="fixed">
                    <ion-fab-button (click)="addAccount()">
                        <ion-icon name="add"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <span class="tiny">Swipe account right to delete.</span>
                <!-- <span class="tiny">Hold account icon to delete.</span> -->
                <!-- <progress color="warning" class="progress" [value]="progress" max="100"></progress> -->
            </ion-card-content>
        </ion-card>
        <ion-button expand="block" color="medium" (click)="changeTheme('autumn')">Peach</ion-button>
        <ion-button expand="block" color="medium" (click)="changeTheme('night')">Apple</ion-button>
        <ion-button expand="block" color="medium" (click)="changeTheme('neon')">Lilac</ion-button>
        <ion-button expand="block" color="medium" (click)="changeTheme('')">Default</ion-button>

    </ng-container>
</ion-content>