<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Your Profile & Accounts
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ng-container *ngIf="userO | async as user">
        <ion-card>
            <ion-card-content>
                <div (click)="editProfile()" class="profile">
                    <img [src]="user.photoURL" class="imgAvatar">
                </div>
                <ion-list lines="none">
                    <ion-item>
                        <ion-input type="text" placeholder="User Name" #name [value]="user.displayName" [readonly]="!editMode"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>E-Mail</ion-label>
                        <ion-input type="email" placeholder="Email" [value]="user.email" readonly></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>My PSP</ion-label>
                        <ion-input type="text" placeholder="PSP Name" [value]="user.pspId" readonly *ngIf="!editMode"></ion-input>
                        <ion-select slot="end" #pspid placeholder="Select PSP" expand='full' [hidden]="!editMode"
                            (ionChange)="payerPspSelect(pspid.value)">
                            <ion-select-option *ngFor="let psp of processors | async" [value]="psp.id" [selected]="user.pspId">{{psp.id}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>ZAP Id:</ion-label>
                        <ion-input type="text" placeholder="name" #zapid [value]="user.zapId" [readonly]="!editMode"></ion-input>
                        <!-- {{payerPspLable}} -->
                    </ion-item>
                    <ion-item>
                        <ion-label>Nickname</ion-label>
                        <ion-input type="text" placeholder="Nickname?" #nick [value]="user.nickname" [readonly]="!editMode"></ion-input>
                    </ion-item>
                </ion-list>
                <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="!editMode">
                    <ion-fab-button (click)="editProfile()">
                        <ion-icon name="create"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <ion-fab vertical="top" horizontal="end" slot="fixed" *ngIf="editMode">
                    <ion-fab-button color="danger" (click)="saveProfile(name.value, pspid.value, zapid.value, nick.value)">
                        <ion-icon name="save"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-list lines="none">
                    <ion-item-divider>
                        <ion-label>Accounts</ion-label>
                    </ion-item-divider>
                    <ion-item-sliding *ngFor="let acc of user.accounts ">
                        <ion-item>
                            <ion-label>{{acc.accountAlias}}</ion-label>
                            {{acc.accountNo}}
                        </ion-item>
                        <ion-item-options side="start">
                            <ion-item-option color="danger" (click)="deleteAccount(acc)">Delete</ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                    <!-- <ion-item *ngFor="let acc of user.accounts ">
                        <ion-label>{{acc.accountAlias}}</ion-label>
                        {{acc.accountNo}}
                        <ion-button class="accDelete" slot="end" color="danger" holdable (holdTime)="deleteAccount(acc)">
                            <ion-icon slot="icon-only" name="trash"></ion-icon>
                        </ion-button>
                    </ion-item> -->
                </ion-list>
                <ion-fab vertical="top" horizontal="end" slot="fixed">
                    <ion-fab-button (click)="addAccount()">
                        <ion-icon name="add"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <span class="tiny">Swipe account right to delete.</span>
                <!-- <span class="tiny">Hold account icon to delete.</span> -->
                <!-- <progress color="warning" class="progress" [value]="progress" max="100"></progress> -->
            </ion-card-content>
        </ion-card>
    </ng-container>
</ion-content>