<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="secondary">
            <ion-button (click)="loginPage()">
                <ion-icon slot="start" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
            Registration
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-content>
            <ion-list lines='none'>
                <ion-item>
                    <ion-label position='floating'>Email Address</ion-label>
                    <ion-input type="text" #eml [value]=""></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position='floating'>Password</ion-label>
                    <ion-input type="password" #pwd [value]=""></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label></ion-label>
                </ion-item>
            </ion-list>

            <ion-button ion-button type="submit" (click)="register(eml.value,pwd.value)" expand='full'>Register</ion-button>
            <!-- <ion-button ion-button type="submit" (click)="loginPage()" expand='full'>Login</ion-button> -->

        </ion-card-content>
    </ion-card>

</ion-content>