<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="secondary">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Registration
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-content>
            <ion-list lines='none'>
                <ion-item>
                    <ion-label position='stacked'>Email Address</ion-label>
                    <ion-input type="text" #eml [value]="" placeholder="Enter email address"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position='floating'>Password</ion-label>
                    <ion-input type="password" #pwd [value]=""></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position='stacked'>Bank to register with</ion-label>
                    <ion-select placeholder="Select Bank" #pspId>
                        <ion-select-option value="UBNK">UBNK</ion-select-option>
                        <ion-select-option value="STDB">STDB</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>

            <ion-button ion-button type="submit" (click)="register(eml.value,pwd.value,pspId.value)" expand='full'>Register
                <ion-icon slot="end" name="log-in"></ion-icon>
            </ion-button>
            <!-- <ion-button ion-button type="submit" (click)="loginPage()" expand='full'>Login</ion-button> -->

        </ion-card-content>
    </ion-card>

</ion-content>