<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="secondary">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Registration
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="register(eml.value,pwd.value)">
                <ion-item>
                    <ion-label position="floating">E-Mail</ion-label>
                    <ion-input formControlName="email" #eml type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input formControlName="password" #pwd type="password"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>You will be registering with </ion-label>{{ myPsp }}
                </ion-item>
                <ion-button block color="primary" type="submit" [disabled]="registerForm.invalid" expand='full'>
                    Register
                </ion-button>
            </form>
        </ion-card-content>
    </ion-card>

</ion-content>