<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Send a Z@P Request-to-Pay
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ng-template #loading>
        Loading Form...
        <ion-img src="/assets/img/down-arrow-gif-8.gif" style="width: 100%"></ion-img>
    </ng-template>
    <form [formGroup]="payForm" *ngIf="user | async" [hidden]="success" (ngSubmit)="this.doPayRequest()">
        <ng-container>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Request payment from</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-list lines="none">
                        <ion-item>
                            <ion-badge slot="start" color="danger" *ngIf="!payForm.controls.payerPSP.valid" (click)="whatError('payerPSP')">!</ion-badge>
                            <ion-label>Sender's PSP</ion-label>
                            <ion-select placeholder="Select PSP" formControlName="payerPSP">
                                <ion-select-option *ngFor="let psp of processors | async" [value]="psp.id">{{psp.id}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-badge slot="start" color="danger" *ngIf="!payForm.controls.payerId.valid" (click)="whatError('payerId')">!</ion-badge>
                            <ion-label>ZAP Id:</ion-label>
                            <ion-input formControlName="payerId" type="text" placeholder="Z@p Handle" #zapid></ion-input>
                            {{payerPspLable}}
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
            <div class="center">
                <ion-img src="/assets/img/down-arrow-gif-8.gif" style="height: 40px"></ion-img>
            </div>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>My details</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-list lines="none">
                        <!-- <ion-item> -->
                        <!-- <ion-label>My PSP</ion-label> -->
                        <ion-input type="text" readonly formControlName="payeePSP" hidden></ion-input>
                        <!-- {{userO.pspId}} -->
                        <!-- </ion-item> -->
                        <ion-item>
                            <ion-label>My ID</ion-label>
                            <ion-input type="text" readonly formControlName="payeeId"></ion-input>
                            {{payeePspLable}}
                        </ion-item>
                        <ion-item *ngIf="useDefaultAccount" (click)="overideAccount()">
                            <ion-label>
                                Into Account?
                            </ion-label>
                            <ng-container *ngIf="defaultAccount">{{defaultAccount.accountAlias}}</ng-container>
                        </ion-item>
                        <ion-input hidden type="text" formControlName="payeeAccountNo"></ion-input>
                        <ion-item *ngIf="!useDefaultAccount">
                            <ion-label>
                                Into Account?
                            </ion-label>
                            <ion-select required="true" formControlName="payeeAccountNo" placeholder="Select Acct">
                                <ion-select-option *ngFor="let acc of accounts" [value]="acc.accountNo">
                                    {{acc.accountAlias}}
                                </ion-select-option>
                            </ion-select>
                            <ion-badge slot="start" color="danger" *ngIf="!payForm.controls.payeeAccountNo.valid"
                                (click)="whatError('payeeAccountNo')">!</ion-badge>
                        </ion-item>
                        <ion-item>
                            <ion-badge slot="start" color="danger" *ngIf="!payForm.controls.userRef.valid && payForm.controls.userRef.dirty">!</ion-badge>
                            <ion-label>My Reference</ion-label>
                            <ion-input formControlName="userRef" type="text" placeholder="Payment reference" required="true"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>
                                Amount
                            </ion-label>
                            <ion-input #amt class="largeAmount" formControlName="amountdisplay" type="text" pattern="[0-9.,]*"
                                inputmode="numeric" placeholder="0.00" (ionChange)="formatAmount(amt.value)"></ion-input>
                            <ion-input formControlName="amount" type="number" required="true" hidden></ion-input>
                            <ion-badge slot="start" color="danger" *ngIf="!payForm.controls.amount.valid && payForm.controls.amountdisplay.dirty"
                                (click)="whatError('amount')">!</ion-badge>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>

            <ion-grid fixed>
                <ion-row>
                    <ion-col size="8">
                        <ion-button type="submit" [disabled]="!payForm.valid" expand="block" color="primary">
                            <ion-icon slot="start" name="cash"></ion-icon>
                            Send Z@P!
                        </ion-button>
                    </ion-col>
                    <ion-col size="4">
                        <ion-button (click)="showQR()" color="tertiary">
                            <ion-icon slot="end" name="barcode"></ion-icon>
                            Show QR
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>


            <div *ngIf="!payForm.valid">
                <span class="errorMsg">Form incomplete or invalid. Tap the red badge to see why.</span>
            </div>
            <label *ngIf="myPSP" class="errorMsg"> {{myPSP.apiUrl}} </label>
        </ng-container>

    </form>
</ion-content>