<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Login
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="v-align-middle">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="!(auth.user | async)">
        <!-- <h3>Anonymous Login</h3> -->

        <ion-card>

            <ion-card-content>
                <ion-list lines='none'>

                    <ion-item>
                        <ion-label position='floating'>Email Address</ion-label>
                        <ion-input type="text" #eml [value]="" autocomplete="on" autofocus="true"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position='floating'>Password</ion-label>
                        <ion-input type="password" #pwd [value]=""></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label></ion-label>
                    </ion-item>
                </ion-list>

                <ion-button ion-button type="submit" (click)="login(eml.value,pwd.value)" expand='full'>Login</ion-button>
                <!-- <ion-button ion-button type="submit" expand='full'></ion-button> -->
                <ion-anchor (click)="register()" color="primary">Register an account</ion-anchor>

            </ion-card-content>
        </ion-card>

    </div>

    <!-- <ng-template #alreadyLoggedIn>
        <p class="text-success">
            You are logged in <i class="fa fa-thumbs-up"></i>
        </p>
    </ng-template> -->
</ion-content>