<ion-header>
    <ion-toolbar color="Succesfull">
        <ion-buttons slot="start">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Z@P Succesfull, Yeah!!!
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ng-container *ngIf="userO; else loading">
        <pre class="jsonData">

{{ fcmPayload | json }}
</pre>
    </ng-container>

    <ng-template #loading>
        Loading Form...
    </ng-template>
</ion-content>