<ion-header>
    <ion-toolbar color="warning">
        <ion-title>pin-confirm</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="myForm">

        Value: {{ myForm.value | json }}

        <hr>
        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input placeholder="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Message</ion-label>
            <ion-input placeholder="your message..." formControlName="message"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Awesome Label</ion-label>
            <ion-select formControlName="career" placeholder="career">
                <ion-select-option value="peperoni">Peperoni</ion-select-option>
                <ion-select-option value="hawaii">Hawaii</ion-select-option>
            </ion-select>
        </ion-item>

    </form>
</ion-content>