.scnImg {
    width: 100%;
    height: 350px;
}

.largeAmount {
    font-size: 2.1rem;
}

ion-badge {
    z-index: 45;
}

.errorMsg {
    font-style: italic;
    font-size: x-small;
    color: darkred;
}