<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Make Payment
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form *ngIf="user">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Pay From</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-list lines="none">
                    <ion-item>
                        <ion-label>My PSP</ion-label>
                        {{user.pspId}}
                    </ion-item>
                    <ion-item>
                        <ion-label>My ID</ion-label>
                        {{user.zapId}}
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            Pay From
                        </ion-label>
                        <ion-select name="debitAccount" required="true" #payerAcc>
                            <ion-select-option *ngFor="let acc of user.accounts" value='acc.accountNo'>
                                {{acc.accountAlias}}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label stacked>
                            Amount
                        </ion-label>
                        <ion-input [(ngModel)]="amount" placeholder="000000" name="amount" inputmode="numeric"
                            maxlength="6" required="true"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Description</ion-label>
                        <ion-input type="text" #payref [value]="" placeholder="Payment reference"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <div class="center">
            <ion-img src="/assets/img/down-arrow-gif-8.gif" style="height: 40px"></ion-img>
        </div>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Pay To</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-list lines="none">
                    <ion-item>
                        <ion-label>Recipient PSP</ion-label>
                        <ion-select placeholder="Select PSP">
                            <ion-select-option value="ABSA">ABSA</ion-select-option>
                            <ion-select-option value="SBSA">SBSA</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>Recipient ID</ion-label>
                        <ion-input type="${1|text,password,email,search,number,tel,url}" placeholder="userAlias"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>

        <ion-button expand="block" (click)="doPay('pay')" color="primary">
            <ion-icon slot="start" name="cash"></ion-icon>
            Send Payment
        </ion-button>
    </form>

</ion-content>