<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Send a Z@P
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ng-template #loading>
        Loading Form...
        <ion-img src="/assets/img/down-arrow-gif-8.gif" style="width: 100%"></ion-img>
    </ng-template>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <form [formGroup]="payForm" *ngIf="userO; else loading" [hidden]="success" (ngSubmit)="this.showPin()">
        <ng-container *ngIf="!ShowPin">
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Payment details</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <ion-list lines="none">
                        <ion-item>
                            <ion-label>
                                Amount
                            </ion-label>
                            <ion-input #amt class="largeAmount" formControlName="amountdisplay" type="text" placeholder="0.00"
                                (ionChange)="formatAmount(amt.value)" pattern="[0-9.,]*" inputmode="numeric" autofocus="true"></ion-input>
                            <ion-input formControlName="amount" type="number" required="true" hidden></ion-input>
                            <ion-badge slot="start" color="danger" *ngIf="!payForm.controls.amount.valid && payForm.controls.amountdisplay.dirty"
                                (click)="whatError('amount')">!</ion-badge>
                        </ion-item>
                        <!-- <ion-item>
                            <ion-label>My PSP</ion-label>
                            <ion-input type="text" readonly formControlName="payerPSP"></ion-input>
                            {{userO.pspId}}
                        </ion-item> -->
                        <ion-item>
                            <ion-badge slot="start" color="danger" *ngIf="!payForm.controls.userRef.valid && payForm.controls.userRef.dirty">!</ion-badge>
                            <ion-label>Description</ion-label>
                            <ion-input formControlName="userRef" type="text" placeholder="Payment reference" required="true"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="useDefaultAccount" (click)="overideAccount()">
                            <ion-label>
                                From Account?
                            </ion-label>
                            <ng-container *ngIf="defaultAccount">{{defaultAccount.accountAlias}}</ng-container>
                        </ion-item>
                        <ion-input hidden type="text" formControlName="payerAccountRef"></ion-input>
                        <ion-item *ngIf="!useDefaultAccount">
                            <ion-label>
                                From Account?
                            </ion-label>
                            <ion-select required="true" formControlName="payerAccountRef" placeholder="Select Acct">
                                <ion-select-option *ngFor="let acc of accounts" [value]="acc.accountRef">
                                    {{acc.accountAlias}}
                                </ion-select-option>
                            </ion-select>
                            <ion-badge slot="start" color="danger" *ngIf="!payForm.controls.payerAccountRef.valid"
                                (click)="whatError('payerAccountRef')">!</ion-badge>
                        </ion-item>
                        <!-- <ion-item> -->
                        <!-- <ion-label>My Z@P ID</ion-label> -->
                        <ion-input type="text" hidden formControlName="payerId"></ion-input>
                        <!-- {{payerPspLable}} -->
                        <!-- </ion-item> -->
                    </ion-list>
                </ion-card-content>
            </ion-card>
            <div class="center">
                <ion-img src="/assets/img/down-arrow-gif-8.gif" style="height: 40px"></ion-img>
            </div>
            <ion-card>
                <ion-card-header>
                    <ion-card-subtitle>Pay To</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <!-- Default Segment -->
                    <ion-segment (ionChange)="segmentChanged($event)" [value]="recipient" color="primary">
                        <ion-segment-button value="zap">
                            Z@P Id
                        </ion-segment-button>
                        <ion-segment-button value="mobile">
                            Mobile
                        </ion-segment-button>
                        <ion-segment-button value="email">
                            Email
                        </ion-segment-button>
                    </ion-segment>
                    <ion-list lines="none" [hidden]="recipientZAP">
                        <ion-item>
                            <!-- <ion-badge slot="start" color="danger" *ngIf="!payForm.controls.payeeId.valid" (click)="whatError('payeeId')">!</ion-badge> -->
                            <ion-label>ZAP Id:</ion-label>
                            <ion-input formControlName="payeeId" type="text" placeholder="Recipient's Z@p Id" #zapid></ion-input>
                            {{payeePspLable}}
                        </ion-item>
                        <ion-item>
                            <!-- <ion-badge slot="start" color="danger" *ngIf="!payForm.controls.payeePSP.valid" (click)="whatError('payeePSP')">!</ion-badge> -->
                            <ion-label>Recipient PSP</ion-label>
                            <ion-select placeholder="Select PSP" formControlName="payeePSP">
                                <ion-select-option *ngFor="let psp of processors | async" [value]="psp.id">{{psp.id}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                    <ion-list lines="none" [hidden]="recipientMobile">
                        <ion-item>
                            <!-- <ion-badge slot="start" color="danger" *ngIf="!payForm.controls.payeeMobileNo.valid"                                (click)="whatError('payeeMobileNo')">!</ion-badge> -->
                            <ion-label>Mobile No:</ion-label>
                            <ion-input formControlName="payeeMobileNo" type="tel" inputmode="tel" placeholder="27xxxxxxxxx"
                                #zapid></ion-input>
                            <!-- <ion-icon slot="end" name="search" (click)="selectContact()"></ion-icon> -->
                        </ion-item>
                    </ion-list>
                    <ion-list lines="none" [hidden]="recipientEmail">
                        <ion-item>
                            <!-- <ion-badge slot="start" color="danger" *ngIf="!payForm.controls.payeeEmail.valid" (click)="whatError('payeeEmail')">!</ion-badge> -->
                            <ion-label>Email Address:</ion-label>
                            <ion-input formControlName="payeeEmail" type="text" placeholder="Recipient's Email" #zapid></ion-input>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>

            <ion-button type="submit" [disabled]="!payForm.valid" expand="block" color="primary">
                <ion-icon slot="start" name="cash"></ion-icon>
                Z@P It!
            </ion-button>
            <div *ngIf="!payForm.valid">
                <span class="errorMsg">Form incomplete or invalid.</span>
            </div>
            <label *ngIf="myPSP" class="errorMsg"> {{apiUrl}}{{myPsp}} </label>
            <!-- <label> {{selectedNumber}} </label> -->

        </ng-container>

        <app-pin *ngIf="ShowPin" [pspUrl]="myPSP.apiUrl" pagetitle="Enter your secret Pin" (change)="eventCapture($event)"></app-pin>
    </form>
</ion-content>