<ng-container *ngIf="userO | async as user">
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>ZAP Mobile</ion-card-subtitle>
            <ion-card-title color="light"> {{user.displayName}} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div (click)="openProfileEdit()">
                <img [src]="user.photoURL">
            </div> <br>

            <div color="light">{{user.email}}</div>
            <div color="light">{{user.processor}}</div>
            <div color="light">
                <ion-button color="danger" expand='full' (click)="logout()">
                    Logout
                    <ion-icon slot="end" name="exit"></ion-icon>
                </ion-button>
            </div>

        </ion-card-content>
    </ion-card>
</ng-container>