<ion-app>
    <ion-split-pane>
        <ion-menu>
            <ion-header>
                <ion-toolbar color="primary" (click)="close()">
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content color="dark">
                <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingText="Refreshing...">
                    </ion-refresher-content>
                </ion-refresher>
                <app-user-profile></app-user-profile>
                <fcm-handler></fcm-handler>
                <ion-list>
                    <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                            <ion-icon slot="end" [name]="p.icon2"></ion-icon>
                        </ion-item>

                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>