<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Authorize a Z@P payment
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <app-pin *ngIf="ShowPin" [pspUrl]="myPSP.apiUrl" pagetitle="Enter your secret Pin" (change)="eventCapture($event)"></app-pin>

    <pre class="jsonData">
{{ fcmPayload | json }}
</pre>
</ion-content>