// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.center {
    text-align: center;
}

.profile {
    display: inline-block;
}

.imgAvatar {
    height: auto;
    width: auto;
    min-width: 120px;
    min-height: 120px;
    max-width: 120px;
    max-height: 120px;
}

ion-input {
    text-align: right;
}

ion-card {
    margin: 10px 0px !important;
}

ion-card-header {
    padding-bottom: 0 !important;
}

.appToast {
    --background: #555;
    --color: #eee;
    --ion-text-color: #eee !important;
}

.appAlert {
    --background: #555;
    --ion-text-color: #eee !important;
    --button-color: #f9a61a;
}