<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Authorize a Z@P payment reciept
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ng-container *ngIf="userO; else loading">
        <ion-card *ngIf="!authorised">
            <ion-card-header>
                <ion-card-subtitle>Do you want to recieve this payment?</ion-card-subtitle>
                <ion-card-title>{{fcmPayload.payerId}} has sent you a payment of {{ fcmPayload.amount | zapcurrency }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-button type="button" (click)="decline()" expand="block" color="danger">
                                <ion-icon slot="end" name="trash"></ion-icon>
                                Decline!!
                            </ion-button>
                        </ion-col>
                        <ion-col>
                            <ion-button type="button" (click)="changeAuth()" expand="block" color="success">
                                <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
                                Accept
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>


            </ion-card-content>
        </ion-card>

        <label *ngIf="apiUrl" class="errorMsg">{{apiUrl}}{{myPsp}}</label>

        <!-- <pre class="jsonData"> -->

        <!-- {{ fcmPayload | json }} -->
        <!-- </pre> -->
    </ng-container>
    <ng-template #loading>
        Loading Form...
    </ng-template>
</ion-content>