.aboutPage {
    background-color: #000;
    color: var(--ion-color-light);
}

.companyLogo {
    width: 80% !important;
    max-width: 80% !important;
    display: inline-block !important;
}

.appLogo {
    width: 80% !important;
    max-width: 80% !important;
    display: inline-block !important;
}