<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            About
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="aboutPage">
    <div class="center">
        <ion-img class="companyLogo" src="/assets/img/mainlogo.png" alt="BankservLogo"></ion-img>
        <ion-img class="appLogo" src="/assets/img/zaapLogo.png" alt="">
        </ion-img>
        <p>&copy; BankservAfrica 2018</p>
        <h4>Meme: Ben Janse van Rensburg</h4>
        <h4>Dragon: Emile Burger</h4>
        <p>
            <b>Code Warriors:</b><br>
            <b>MPI & RTC:</b> MitchD & BenJ<br>
            <b>PSP:</b> CharlesD, GeorgeL<br>
            <b>Mobile UX:</b> GaryD & EmmanuelN
        </p>
        <p>
            <b>Server Wizard: </b>CoenraadL<br>
            <b>Kube Jugglers: </b>MitchD & CoenraadL<br>
            <b>Pro Doodlers: </b>BenJ, GeorgeL<br>
            <b>Standup Comedian: </b>NavinM<br>
            <b>Scribe: </b>RiaanV<br>
            <b>Animal Tamer: </b>FourieV
        </p>
    </div>


</ion-content>