.aboutPage {
    background-color: var(--ion-color-dark) !important;
    color: var(--ion-color-light) !important;
}

.companyLogo {
    width: 50% !important;
    max-width: 70% !important;
    display: inline-block !important;
}

.appLogo {
    width: 50% !important;
    max-width: 50% !important;
    display: inline-block !important;
}

.right {
    text-align: right;
    overflow: visible;
    white-space: nowrap;
}