<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            About
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="aboutPage">
    <div class="center">
        <ion-img class="companyLogo" src="/assets/img/mainlogo.png" alt="BankservLogo"></ion-img><br>
        <ion-img class="appLogo" src="/assets/img/zaapLogo.png" alt=""> </ion-img>
        <p>&copy; BankservAfrica 2018 {{appVersion}} <br>
            'Tech Board'
        </p>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col>The Dragon</ion-col>
            <ion-col class="right">Emile</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>MPI & RTC</ion-col>
            <ion-col class="right">Mitchell & Ben</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>PSP</ion-col>
            <ion-col class="right">Charles, George</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Mobile Maestro</ion-col>
            <ion-col class="right">Gary</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Chat Bot Whisperer</ion-col>
            <ion-col class="right">Emmanuel</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>VM Wizard</ion-col>
            <ion-col class="right">Coenraad</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Ranch Hands</ion-col>
            <ion-col class="right">Mitchell & Coenraad</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Doodle Dandies </ion-col>
            <ion-col class="right">Ben, George</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Standup Comedian</ion-col>
            <ion-col class="right">Navin</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Super Scribe</ion-col>
            <ion-col class="right">Riaan</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>Animal Tamer</ion-col>
            <ion-col class="right">FourieV</ion-col>
        </ion-row>
    </ion-grid>

    <!-- <ion-img src="/assets/icons/payment-successful.png" style="width: 50%;"></ion-img>
    <ion-img src="/assets/icons/success-1.png" style="width: 50%;"></ion-img>
    <ion-img src="/assets/icons/success-2.png" style="width: 50%;"></ion-img>
    <ion-img src="/assets/icons/success-3.jpg" style="width: 50%;"></ion-img>
    <ion-img src="/assets/icons/thumbsUp.png" style="width: 50%;"></ion-img> -->

</ion-content>