<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            About
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="aboutPage">
    <div class="center">
        <ion-img class="companyLogo" src="/assets/img/mainlogo.png" alt="BankservLogo"></ion-img><br>
        <ion-img class="appLogo" src="/assets/img/zaapLogo.png" alt=""> </ion-img>
        <p>&copy; BankservAfrica 2019 <br>
            {{appVersion}} - {{appCodeName}}
        </p>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col>SPONSOR</ion-col>
            <ion-col class="right">Emile</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>RPI & RTC</ion-col>
            <ion-col class="right">Mitchell & Ben</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>FAKE BANKS</ion-col>
            <ion-col class="right">Charles & George</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>DEMO APP</ion-col>
            <ion-col class="right">Gary</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>TELEGRAM BOT</ion-col>
            <ion-col class="right">Emmanuel</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>VM & INF</ion-col>
            <ion-col class="right">Coenraad</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>KUBERNETES</ion-col>
            <ion-col class="right">Mitch & Coenraad</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>DIAGRAMS</ion-col>
            <ion-col class="right">Ben, George</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>SCRUM MASTER</ion-col>
            <ion-col class="right">Navin</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>SWAGGER & DOCS</ion-col>
            <ion-col class="right">Riaan & Sharon</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>CHANGE MANAGER</ion-col>
            <ion-col class="right">Fourie</ion-col>
        </ion-row>
    </ion-grid>

</ion-content>